<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		<bean class="com.geek.controller.AccountController">
			 <property name="service" ref="accser"></property>
		</bean>
		<bean id="accser" class="com.geek.service.AccountServiceImpl">
			<property name="rep" ref="accrep"></property>
		</bean>
		<bean id="accrep" class="com.geek.repo.AccRepImpl">
		</bean>
</beans>